# Data Validation Report

This is an automatically generated validation report from *[knowledge-graph-input-repo-collector](https://github.com/uilab-vtt/knowledge-graph-input-repo-collector)* application. 

Data was collected from the repositories and validated on the server at around Thu Dec 06 2018 22:43:41 GMT+0900 (Korean Standard Time).

## Target Files

Following files were collected and validated from the each repository.


- friends/friends_s01_e01

- friends/friends_s01_e02

- friends/friends_s01_e03

- friends/friends_s01_e04

- friends/friends_s01_e05


## Validation Results

Here are the valiation results for the source repositories. 


### object-character-relation (-, 객체/인물관계)

Data was collected from the repository at [https://github.com/Dong-JinKim/VTT_object_data.git](https://github.com/Dong-JinKim/VTT_object_data.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
There is no file in the repository.
```



#### friends/friends_s01_e02

```
There is no file in the repository.
```



#### friends/friends_s01_e03

```
There is no file in the repository.
```



#### friends/friends_s01_e04

```
There is no file in the repository.
```



#### friends/friends_s01_e05

```
There is no file in the repository.
```






### tracking (-, 상황추적)

Data was collected from the repository at [https://github.com/VTTCAU/VTT_TRACKING_DATA.git](https://github.com/VTTCAU/VTT_TRACKING_DATA.git) for this data source.



No error was found on the data files from this repository.




### action (-, 행동인식)

Data was collected from the repository at [https://github.com/hobincar/vtt-action-recognition-data.git](https://github.com/hobincar/vtt-action-recognition-data.git) for this data source.



No error was found on the data files from this repository.




### emotion (-, 감정인식)

Data was collected from the repository at [https://github.com/JanghoonChoi/VTT_vid_emotion_data.git](https://github.com/JanghoonChoi/VTT_vid_emotion_data.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
There is no file in the repository.
```



#### friends/friends_s01_e02

```
There is no file in the repository.
```



#### friends/friends_s01_e03

```
There is no file in the repository.
```



#### friends/friends_s01_e04

```
There is no file in the repository.
```



#### friends/friends_s01_e05

```
There is no file in the repository.
```






### sound (-, 소리인식)

Data was collected from the repository at [https://github.com/cao-nv/vtt-sound-event-data.git](https://github.com/cao-nv/vtt-sound-event-data.git) for this data source.



No error was found on the data files from this repository.




### place (-, 장소인식)

Data was collected from the repository at [https://github.com/siit-video-turing-test/2nd-year-data.git](https://github.com/siit-video-turing-test/2nd-year-data.git) for this data source.



No error was found on the data files from this repository.




### character-knowledge (-, 인물지식추출)

Data was collected from the repository at [https://github.com/machinereading/vtt-swrc-2018-data-result.git](https://github.com/machinereading/vtt-swrc-2018-data-result.git) for this data source.



No error was found on the data files from this repository.




### knowlege-background (-, 세계지식)

Data was collected from the repository at [https://github.com/iacryl/vtt-triple-data-jsonl.git](https://github.com/iacryl/vtt-triple-data-jsonl.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
Validation failed:
Failed to decode JSON object at line 1: &#34;{
&#34;
Failed to decode JSON object at line 2: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 3: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 4: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 5: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 6: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 7: &#34;	},
&#34;
Failed to decode JSON object at line 8: &#34;	&#34;script&#34;: &#34;Let me get you some coffee.&#34;,
&#34;
Failed to decode JSON object at line 9: &#34;	&#34;seconds&#34;: 136.0,
&#34;
Failed to decode JSON object at line 10: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 11: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 12: &#34;	}
&#34;
Failed to decode JSON object at line 13: &#34;}{
&#34;
Failed to decode JSON object at line 14: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 15: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 16: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 17: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 18: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 19: &#34;	},
&#34;
Failed to decode JSON object at line 20: &#34;	&#34;script&#34;: &#34;Let me get you some coffee.&#34;,
&#34;
Failed to decode JSON object at line 21: &#34;	&#34;seconds&#34;: 136.0,
&#34;
Failed to decode JSON object at line 22: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 23: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 24: &#34;	}
&#34;
Failed to decode JSON object at line 25: &#34;}{
&#34;
Failed to decode JSON object at line 26: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 27: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 28: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 29: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 30: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 31: &#34;	},
&#34;
Failed to decode JSON object at line 32: &#34;	&#34;script&#34;: &#34;Let me get you some coffee.&#34;,
&#34;
Failed to decode JSON object at line 33: &#34;	&#34;seconds&#34;: 137.0,
&#34;
Failed to decode JSON object at line 34: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 35: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 36: &#34;	}
&#34;
Failed to decode JSON object at line 37: &#34;}{
&#34;
Failed to decode JSON object at line 38: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 39: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 40: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 41: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 42: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 43: &#34;	},
&#34;
Failed to decode JSON object at line 44: &#34;	&#34;script&#34;: &#34;Let me get you some coffee.&#34;,
&#34;
Failed to decode JSON object at line 45: &#34;	&#34;seconds&#34;: 137.0,
&#34;
Failed to decode JSON object at line 46: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 47: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 48: &#34;	}
&#34;
Failed to decode JSON object at line 49: &#34;}{
&#34;
Failed to decode JSON object at line 50: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 51: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 52: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 53: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 54: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 55: &#34;	},
&#34;
Failed to decode JSON object at line 56: &#34;	&#34;script&#34;: &#34;Can I get you some coffee?&#34;,
&#34;
Failed to decode JSON object at line 57: &#34;	&#34;seconds&#34;: 224.0,
&#34;
Failed to decode JSON object at line 58: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 59: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 60: &#34;	}
&#34;
Failed to decode JSON object at line 61: &#34;}{
&#34;
Failed to decode JSON object at line 62: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 63: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 64: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 65: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 66: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 67: &#34;	},
&#34;
Failed to decode JSON object at line 68: &#34;	&#34;script&#34;: &#34;Can I get you some coffee?&#34;,
&#34;
Failed to decode JSON object at line 69: &#34;	&#34;seconds&#34;: 224.0,
&#34;
Failed to decode JSON object at line 70: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 71: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 72: &#34;	}
&#34;
Failed to decode JSON object at line 73: &#34;}{
&#34;
Failed to decode JSON object at line 74: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 75: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 76: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 77: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 78: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 79: &#34;	},
&#34;
Failed to decode JSON object at line 80: &#34;	&#34;script&#34;: &#34;Can I get you some coffee?&#34;,
&#34;
Failed to decode JSON object at line 81: &#34;	&#34;seconds&#34;: 225.0,
&#34;
Failed to decode JSON object at line 82: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 83: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 84: &#34;	}
&#34;
Failed to decode JSON object at line 85: &#34;}{
&#34;
Failed to decode JSON object at line 86: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 87: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 88: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 89: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 90: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 91: &#34;	},
&#34;
Failed to decode JSON object at line 92: &#34;	&#34;script&#34;: &#34;Can I get you some coffee?&#34;,
&#34;
Failed to decode JSON object at line 93: &#34;	&#34;seconds&#34;: 225.0,
&#34;
Failed to decode JSON object at line 94: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 95: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 96: &#34;	}
&#34;
Failed to decode JSON object at line 97: &#34;}{
&#34;
Failed to decode JSON object at line 98: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 99: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 100: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 101: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 102: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 103: &#34;	},
&#34;
Failed to decode JSON object at line 104: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 105: &#34;	&#34;seconds&#34;: 857.0,
&#34;
Failed to decode JSON object at line 106: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 107: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 108: &#34;	}
&#34;
Failed to decode JSON object at line 109: &#34;}{
&#34;
Failed to decode JSON object at line 110: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 111: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 112: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 113: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 114: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 115: &#34;	},
&#34;
Failed to decode JSON object at line 116: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 117: &#34;	&#34;seconds&#34;: 857.0,
&#34;
Failed to decode JSON object at line 118: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 119: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 120: &#34;	}
&#34;
Failed to decode JSON object at line 121: &#34;}{
&#34;
Failed to decode JSON object at line 122: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 123: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 124: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 125: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 126: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 127: &#34;	},
&#34;
Failed to decode JSON object at line 128: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 129: &#34;	&#34;seconds&#34;: 858.0,
&#34;
Failed to decode JSON object at line 130: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 131: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 132: &#34;	}
&#34;
Failed to decode JSON object at line 133: &#34;}{
&#34;
Failed to decode JSON object at line 134: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 135: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 136: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 137: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 138: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 139: &#34;	},
&#34;
Failed to decode JSON object at line 140: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 141: &#34;	&#34;seconds&#34;: 858.0,
&#34;
Failed to decode JSON object at line 142: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 143: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 144: &#34;	}
&#34;
Failed to decode JSON object at line 145: &#34;}{
&#34;
Failed to decode JSON object at line 146: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 147: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 148: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 149: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 150: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 151: &#34;	},
&#34;
Failed to decode JSON object at line 152: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 153: &#34;	&#34;seconds&#34;: 859.0,
&#34;
Failed to decode JSON object at line 154: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 155: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 156: &#34;	}
&#34;
Failed to decode JSON object at line 157: &#34;}{
&#34;
Failed to decode JSON object at line 158: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 159: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 160: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 161: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 162: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 163: &#34;	},
&#34;
Failed to decode JSON object at line 164: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 165: &#34;	&#34;seconds&#34;: 859.0,
&#34;
Failed to decode JSON object at line 166: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 167: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 168: &#34;	}
&#34;
Failed to decode JSON object at line 169: &#34;}{
&#34;
Failed to decode JSON object at line 170: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 171: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 172: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 173: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 174: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 175: &#34;	},
&#34;
Failed to decode JSON object at line 176: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 177: &#34;	&#34;seconds&#34;: 860.0,
&#34;
Failed to decode JSON object at line 178: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 179: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 180: &#34;	}
&#34;
Failed to decode JSON object at line 181: &#34;}{
&#34;
Failed to decode JSON object at line 182: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 183: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 184: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 185: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 186: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 187: &#34;	},
&#34;
Failed to decode JSON object at line 188: &#34;	&#34;script&#34;: &#34;I mean, I have never made coffee before in my life.&#34;,
&#34;
Failed to decode JSON object at line 189: &#34;	&#34;seconds&#34;: 860.0,
&#34;
Failed to decode JSON object at line 190: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 191: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 192: &#34;	}
&#34;
Failed to decode JSON object at line 193: &#34;}{
&#34;
Failed to decode JSON object at line 194: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 195: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 196: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 197: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 198: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 199: &#34;	},
&#34;
Failed to decode JSON object at line 200: &#34;	&#34;script&#34;: &#34;Would anybody like more coffee?&#34;,
&#34;
Failed to decode JSON object at line 201: &#34;	&#34;seconds&#34;: 1342.0,
&#34;
Failed to decode JSON object at line 202: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 203: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 204: &#34;	}
&#34;
Failed to decode JSON object at line 205: &#34;}{
&#34;
Failed to decode JSON object at line 206: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 207: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 208: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 209: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 210: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 211: &#34;	},
&#34;
Failed to decode JSON object at line 212: &#34;	&#34;script&#34;: &#34;Would anybody like more coffee?&#34;,
&#34;
Failed to decode JSON object at line 213: &#34;	&#34;seconds&#34;: 1342.0,
&#34;
Failed to decode JSON object at line 214: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 215: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 216: &#34;	}
&#34;
Failed to decode JSON object at line 217: &#34;}{
&#34;
Failed to decode JSON object at line 218: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 219: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 220: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 221: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 222: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 223: &#34;	},
&#34;
Failed to decode JSON object at line 224: &#34;	&#34;script&#34;: &#34;Would anybody like more coffee?&#34;,
&#34;
Failed to decode JSON object at line 225: &#34;	&#34;seconds&#34;: 1343.0,
&#34;
Failed to decode JSON object at line 226: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 227: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 228: &#34;	}
&#34;
Failed to decode JSON object at line 229: &#34;}{
&#34;
Failed to decode JSON object at line 230: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 231: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 232: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 233: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 234: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 235: &#34;	},
&#34;
Failed to decode JSON object at line 236: &#34;	&#34;script&#34;: &#34;Would anybody like more coffee?&#34;,
&#34;
Failed to decode JSON object at line 237: &#34;	&#34;seconds&#34;: 1343.0,
&#34;
Failed to decode JSON object at line 238: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 239: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 240: &#34;	}
&#34;
Failed to decode JSON object at line 241: &#34;}{
&#34;
Failed to decode JSON object at line 242: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 243: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 244: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 245: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 246: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 247: &#34;	},
&#34;
Failed to decode JSON object at line 248: &#34;	&#34;script&#34;: &#34;Would anybody like more coffee?&#34;,
&#34;
Failed to decode JSON object at line 249: &#34;	&#34;seconds&#34;: 1344.0,
&#34;
Failed to decode JSON object at line 250: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 251: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 252: &#34;	}
&#34;
Failed to decode JSON object at line 253: &#34;}{
&#34;
Failed to decode JSON object at line 254: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 255: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 256: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 257: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 258: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 259: &#34;	},
&#34;
Failed to decode JSON object at line 260: &#34;	&#34;script&#34;: &#34;Would anybody like more coffee?&#34;,
&#34;
Failed to decode JSON object at line 261: &#34;	&#34;seconds&#34;: 1344.0,
&#34;
Failed to decode JSON object at line 262: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 263: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 264: &#34;	}
&#34;
Failed to decode JSON object at line 265: &#34;}{
&#34;
Failed to decode JSON object at line 266: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 267: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 268: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 269: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 270: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 271: &#34;	},
&#34;
Failed to decode JSON object at line 272: &#34;	&#34;script&#34;: &#34;I&#39;m just serving it. coffee.&#34;,
&#34;
Failed to decode JSON object at line 273: &#34;	&#34;seconds&#34;: 1349.0,
&#34;
Failed to decode JSON object at line 274: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 275: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 276: &#34;	}
&#34;
Failed to decode JSON object at line 277: &#34;}{
&#34;
Failed to decode JSON object at line 278: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 279: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 280: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 281: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 282: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 283: &#34;	},
&#34;
Failed to decode JSON object at line 284: &#34;	&#34;script&#34;: &#34;I&#39;m just serving it. coffee.&#34;,
&#34;
Failed to decode JSON object at line 285: &#34;	&#34;seconds&#34;: 1349.0,
&#34;
Failed to decode JSON object at line 286: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 287: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 288: &#34;	}
&#34;
Failed to decode JSON object at line 289: &#34;}{
&#34;
Failed to decode JSON object at line 290: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 291: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 292: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 293: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 294: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 295: &#34;	},
&#34;
Failed to decode JSON object at line 296: &#34;	&#34;script&#34;: &#34;I&#39;m just serving it. coffee.&#34;,
&#34;
Failed to decode JSON object at line 297: &#34;	&#34;seconds&#34;: 1350.0,
&#34;
Failed to decode JSON object at line 298: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 299: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 300: &#34;	}
&#34;
Failed to decode JSON object at line 301: &#34;}{
&#34;
Failed to decode JSON object at line 302: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 303: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 304: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 305: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 306: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 307: &#34;	},
&#34;
Failed to decode JSON object at line 308: &#34;	&#34;script&#34;: &#34;I&#39;m just serving it. coffee.&#34;,
&#34;
Failed to decode JSON object at line 309: &#34;	&#34;seconds&#34;: 1350.0,
&#34;
Failed to decode JSON object at line 310: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 311: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 312: &#34;	}
&#34;
Failed to decode JSON object at line 313: &#34;}{
&#34;
Failed to decode JSON object at line 314: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 315: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 316: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 317: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 318: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 319: &#34;	},
&#34;
Failed to decode JSON object at line 320: &#34;	&#34;script&#34;: &#34;I&#39;ll have a cup of coffee.&#34;,
&#34;
Failed to decode JSON object at line 321: &#34;	&#34;seconds&#34;: 1350.0,
&#34;
Failed to decode JSON object at line 322: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 323: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 324: &#34;	}
&#34;
Failed to decode JSON object at line 325: &#34;}{
&#34;
Failed to decode JSON object at line 326: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 327: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 328: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 329: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 330: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 331: &#34;	},
&#34;
Failed to decode JSON object at line 332: &#34;	&#34;script&#34;: &#34;I&#39;ll have a cup of coffee.&#34;,
&#34;
Failed to decode JSON object at line 333: &#34;	&#34;seconds&#34;: 1350.0,
&#34;
Failed to decode JSON object at line 334: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 335: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 336: &#34;	}
&#34;
Failed to decode JSON object at line 337: &#34;}{
&#34;
Failed to decode JSON object at line 338: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 339: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 340: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 341: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 342: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 343: &#34;	},
&#34;
Failed to decode JSON object at line 344: &#34;	&#34;script&#34;: &#34;I&#39;ll have a cup of coffee.&#34;,
&#34;
Failed to decode JSON object at line 345: &#34;	&#34;seconds&#34;: 1351.0,
&#34;
Failed to decode JSON object at line 346: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 347: &#34;		&#34;id&#34;: &#34;object_azacualpa&#34;
&#34;
Failed to decode JSON object at line 348: &#34;	}
&#34;
Failed to decode JSON object at line 349: &#34;}{
&#34;
Failed to decode JSON object at line 350: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 351: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 352: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 353: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 354: &#34;		&#34;id&#34;: &#34;object_coffee&#34;
&#34;
Failed to decode JSON object at line 355: &#34;	},
&#34;
Failed to decode JSON object at line 356: &#34;	&#34;script&#34;: &#34;I&#39;ll have a cup of coffee.&#34;,
&#34;
Failed to decode JSON object at line 357: &#34;	&#34;seconds&#34;: 1351.0,
&#34;
Failed to decode JSON object at line 358: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 359: &#34;		&#34;id&#34;: &#34;object_lavazza&#34;
&#34;
Failed to decode JSON object at line 360: &#34;	}
&#34;
Failed to decode JSON object at line 361: &#34;}&#34;

```



#### friends/friends_s01_e02

```
Validation failed:
Failed to decode JSON object at line 1: &#34;{
&#34;
Failed to decode JSON object at line 2: &#34;	&#34;class&#34;: &#34;pictureFormat&#34;,
&#34;
Failed to decode JSON object at line 3: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 4: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 5: &#34;		&#34;id&#34;: &#34;object_720p&#34;
&#34;
Failed to decode JSON object at line 6: &#34;	},
&#34;
Failed to decode JSON object at line 7: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 8: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 9: &#34;	},
&#34;
Failed to decode JSON object at line 10: &#34;	&#34;seconds&#34;: 641.0,
&#34;
Failed to decode JSON object at line 11: &#34;	&#34;subclass&#34;: &#34;began broadcasting in&#34;,
&#34;
Failed to decode JSON object at line 12: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 13: &#34;}{
&#34;
Failed to decode JSON object at line 14: &#34;	&#34;class&#34;: &#34;owningCompany&#34;,
&#34;
Failed to decode JSON object at line 15: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 16: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 17: &#34;		&#34;id&#34;: &#34;object_bbc&#34;
&#34;
Failed to decode JSON object at line 18: &#34;	},
&#34;
Failed to decode JSON object at line 19: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 20: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 21: &#34;	},
&#34;
Failed to decode JSON object at line 22: &#34;	&#34;seconds&#34;: 641.0,
&#34;
Failed to decode JSON object at line 23: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 24: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 25: &#34;}{
&#34;
Failed to decode JSON object at line 26: &#34;	&#34;class&#34;: &#34;headquarter&#34;,
&#34;
Failed to decode JSON object at line 27: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 28: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 29: &#34;		&#34;id&#34;: &#34;object_television_centre_london&#34;
&#34;
Failed to decode JSON object at line 30: &#34;	},
&#34;
Failed to decode JSON object at line 31: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 32: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 33: &#34;	},
&#34;
Failed to decode JSON object at line 34: &#34;	&#34;seconds&#34;: 641.0,
&#34;
Failed to decode JSON object at line 35: &#34;	&#34;subclass&#34;: &#34;relocated&#34;,
&#34;
Failed to decode JSON object at line 36: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 37: &#34;}{
&#34;
Failed to decode JSON object at line 38: &#34;	&#34;class&#34;: &#34;occupation&#34;,
&#34;
Failed to decode JSON object at line 39: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 40: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 41: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 42: &#34;	},
&#34;
Failed to decode JSON object at line 43: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 44: &#34;		&#34;id&#34;: &#34;person_shepard_smith&#34;
&#34;
Failed to decode JSON object at line 45: &#34;	},
&#34;
Failed to decode JSON object at line 46: &#34;	&#34;seconds&#34;: 641.0,
&#34;
Failed to decode JSON object at line 47: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 48: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 49: &#34;}{
&#34;
Failed to decode JSON object at line 50: &#34;	&#34;class&#34;: &#34;pictureFormat&#34;,
&#34;
Failed to decode JSON object at line 51: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 52: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 53: &#34;		&#34;id&#34;: &#34;object_720p&#34;
&#34;
Failed to decode JSON object at line 54: &#34;	},
&#34;
Failed to decode JSON object at line 55: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 56: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 57: &#34;	},
&#34;
Failed to decode JSON object at line 58: &#34;	&#34;seconds&#34;: 642.0,
&#34;
Failed to decode JSON object at line 59: &#34;	&#34;subclass&#34;: &#34;began broadcasting in&#34;,
&#34;
Failed to decode JSON object at line 60: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 61: &#34;}{
&#34;
Failed to decode JSON object at line 62: &#34;	&#34;class&#34;: &#34;owningCompany&#34;,
&#34;
Failed to decode JSON object at line 63: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 64: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 65: &#34;		&#34;id&#34;: &#34;object_bbc&#34;
&#34;
Failed to decode JSON object at line 66: &#34;	},
&#34;
Failed to decode JSON object at line 67: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 68: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 69: &#34;	},
&#34;
Failed to decode JSON object at line 70: &#34;	&#34;seconds&#34;: 642.0,
&#34;
Failed to decode JSON object at line 71: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 72: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 73: &#34;}{
&#34;
Failed to decode JSON object at line 74: &#34;	&#34;class&#34;: &#34;headquarter&#34;,
&#34;
Failed to decode JSON object at line 75: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 76: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 77: &#34;		&#34;id&#34;: &#34;object_television_centre_london&#34;
&#34;
Failed to decode JSON object at line 78: &#34;	},
&#34;
Failed to decode JSON object at line 79: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 80: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 81: &#34;	},
&#34;
Failed to decode JSON object at line 82: &#34;	&#34;seconds&#34;: 642.0,
&#34;
Failed to decode JSON object at line 83: &#34;	&#34;subclass&#34;: &#34;relocated&#34;,
&#34;
Failed to decode JSON object at line 84: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 85: &#34;}{
&#34;
Failed to decode JSON object at line 86: &#34;	&#34;class&#34;: &#34;occupation&#34;,
&#34;
Failed to decode JSON object at line 87: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 88: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 89: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 90: &#34;	},
&#34;
Failed to decode JSON object at line 91: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 92: &#34;		&#34;id&#34;: &#34;person_shepard_smith&#34;
&#34;
Failed to decode JSON object at line 93: &#34;	},
&#34;
Failed to decode JSON object at line 94: &#34;	&#34;seconds&#34;: 642.0,
&#34;
Failed to decode JSON object at line 95: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 96: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 97: &#34;}{
&#34;
Failed to decode JSON object at line 98: &#34;	&#34;class&#34;: &#34;pictureFormat&#34;,
&#34;
Failed to decode JSON object at line 99: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 100: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 101: &#34;		&#34;id&#34;: &#34;object_720p&#34;
&#34;
Failed to decode JSON object at line 102: &#34;	},
&#34;
Failed to decode JSON object at line 103: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 104: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 105: &#34;	},
&#34;
Failed to decode JSON object at line 106: &#34;	&#34;seconds&#34;: 643.0,
&#34;
Failed to decode JSON object at line 107: &#34;	&#34;subclass&#34;: &#34;began broadcasting in&#34;,
&#34;
Failed to decode JSON object at line 108: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 109: &#34;}{
&#34;
Failed to decode JSON object at line 110: &#34;	&#34;class&#34;: &#34;owningCompany&#34;,
&#34;
Failed to decode JSON object at line 111: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 112: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 113: &#34;		&#34;id&#34;: &#34;object_bbc&#34;
&#34;
Failed to decode JSON object at line 114: &#34;	},
&#34;
Failed to decode JSON object at line 115: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 116: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 117: &#34;	},
&#34;
Failed to decode JSON object at line 118: &#34;	&#34;seconds&#34;: 643.0,
&#34;
Failed to decode JSON object at line 119: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 120: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 121: &#34;}{
&#34;
Failed to decode JSON object at line 122: &#34;	&#34;class&#34;: &#34;headquarter&#34;,
&#34;
Failed to decode JSON object at line 123: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 124: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 125: &#34;		&#34;id&#34;: &#34;object_television_centre_london&#34;
&#34;
Failed to decode JSON object at line 126: &#34;	},
&#34;
Failed to decode JSON object at line 127: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 128: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 129: &#34;	},
&#34;
Failed to decode JSON object at line 130: &#34;	&#34;seconds&#34;: 643.0,
&#34;
Failed to decode JSON object at line 131: &#34;	&#34;subclass&#34;: &#34;relocated&#34;,
&#34;
Failed to decode JSON object at line 132: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 133: &#34;}{
&#34;
Failed to decode JSON object at line 134: &#34;	&#34;class&#34;: &#34;occupation&#34;,
&#34;
Failed to decode JSON object at line 135: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 136: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 137: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 138: &#34;	},
&#34;
Failed to decode JSON object at line 139: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 140: &#34;		&#34;id&#34;: &#34;person_shepard_smith&#34;
&#34;
Failed to decode JSON object at line 141: &#34;	},
&#34;
Failed to decode JSON object at line 142: &#34;	&#34;seconds&#34;: 643.0,
&#34;
Failed to decode JSON object at line 143: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 144: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 145: &#34;}{
&#34;
Failed to decode JSON object at line 146: &#34;	&#34;class&#34;: &#34;pictureFormat&#34;,
&#34;
Failed to decode JSON object at line 147: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 148: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 149: &#34;		&#34;id&#34;: &#34;object_720p&#34;
&#34;
Failed to decode JSON object at line 150: &#34;	},
&#34;
Failed to decode JSON object at line 151: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 152: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 153: &#34;	},
&#34;
Failed to decode JSON object at line 154: &#34;	&#34;seconds&#34;: 644.0,
&#34;
Failed to decode JSON object at line 155: &#34;	&#34;subclass&#34;: &#34;began broadcasting in&#34;,
&#34;
Failed to decode JSON object at line 156: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 157: &#34;}{
&#34;
Failed to decode JSON object at line 158: &#34;	&#34;class&#34;: &#34;owningCompany&#34;,
&#34;
Failed to decode JSON object at line 159: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 160: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 161: &#34;		&#34;id&#34;: &#34;object_bbc&#34;
&#34;
Failed to decode JSON object at line 162: &#34;	},
&#34;
Failed to decode JSON object at line 163: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 164: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 165: &#34;	},
&#34;
Failed to decode JSON object at line 166: &#34;	&#34;seconds&#34;: 644.0,
&#34;
Failed to decode JSON object at line 167: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 168: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 169: &#34;}{
&#34;
Failed to decode JSON object at line 170: &#34;	&#34;class&#34;: &#34;headquarter&#34;,
&#34;
Failed to decode JSON object at line 171: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 172: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 173: &#34;		&#34;id&#34;: &#34;object_television_centre_london&#34;
&#34;
Failed to decode JSON object at line 174: &#34;	},
&#34;
Failed to decode JSON object at line 175: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 176: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 177: &#34;	},
&#34;
Failed to decode JSON object at line 178: &#34;	&#34;seconds&#34;: 644.0,
&#34;
Failed to decode JSON object at line 179: &#34;	&#34;subclass&#34;: &#34;relocated&#34;,
&#34;
Failed to decode JSON object at line 180: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 181: &#34;}{
&#34;
Failed to decode JSON object at line 182: &#34;	&#34;class&#34;: &#34;occupation&#34;,
&#34;
Failed to decode JSON object at line 183: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 184: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 185: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 186: &#34;	},
&#34;
Failed to decode JSON object at line 187: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 188: &#34;		&#34;id&#34;: &#34;person_shepard_smith&#34;
&#34;
Failed to decode JSON object at line 189: &#34;	},
&#34;
Failed to decode JSON object at line 190: &#34;	&#34;seconds&#34;: 644.0,
&#34;
Failed to decode JSON object at line 191: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 192: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 193: &#34;}{
&#34;
Failed to decode JSON object at line 194: &#34;	&#34;class&#34;: &#34;pictureFormat&#34;,
&#34;
Failed to decode JSON object at line 195: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 196: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 197: &#34;		&#34;id&#34;: &#34;object_720p&#34;
&#34;
Failed to decode JSON object at line 198: &#34;	},
&#34;
Failed to decode JSON object at line 199: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 200: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 201: &#34;	},
&#34;
Failed to decode JSON object at line 202: &#34;	&#34;seconds&#34;: 645.0,
&#34;
Failed to decode JSON object at line 203: &#34;	&#34;subclass&#34;: &#34;began broadcasting in&#34;,
&#34;
Failed to decode JSON object at line 204: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 205: &#34;}{
&#34;
Failed to decode JSON object at line 206: &#34;	&#34;class&#34;: &#34;owningCompany&#34;,
&#34;
Failed to decode JSON object at line 207: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 208: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 209: &#34;		&#34;id&#34;: &#34;object_bbc&#34;
&#34;
Failed to decode JSON object at line 210: &#34;	},
&#34;
Failed to decode JSON object at line 211: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 212: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 213: &#34;	},
&#34;
Failed to decode JSON object at line 214: &#34;	&#34;seconds&#34;: 645.0,
&#34;
Failed to decode JSON object at line 215: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 216: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 217: &#34;}{
&#34;
Failed to decode JSON object at line 218: &#34;	&#34;class&#34;: &#34;headquarter&#34;,
&#34;
Failed to decode JSON object at line 219: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 220: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 221: &#34;		&#34;id&#34;: &#34;object_television_centre_london&#34;
&#34;
Failed to decode JSON object at line 222: &#34;	},
&#34;
Failed to decode JSON object at line 223: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 224: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 225: &#34;	},
&#34;
Failed to decode JSON object at line 226: &#34;	&#34;seconds&#34;: 645.0,
&#34;
Failed to decode JSON object at line 227: &#34;	&#34;subclass&#34;: &#34;relocated&#34;,
&#34;
Failed to decode JSON object at line 228: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 229: &#34;}{
&#34;
Failed to decode JSON object at line 230: &#34;	&#34;class&#34;: &#34;occupation&#34;,
&#34;
Failed to decode JSON object at line 231: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 232: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 233: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 234: &#34;	},
&#34;
Failed to decode JSON object at line 235: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 236: &#34;		&#34;id&#34;: &#34;person_shepard_smith&#34;
&#34;
Failed to decode JSON object at line 237: &#34;	},
&#34;
Failed to decode JSON object at line 238: &#34;	&#34;seconds&#34;: 645.0,
&#34;
Failed to decode JSON object at line 239: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 240: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 241: &#34;}{
&#34;
Failed to decode JSON object at line 242: &#34;	&#34;class&#34;: &#34;pictureFormat&#34;,
&#34;
Failed to decode JSON object at line 243: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 244: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 245: &#34;		&#34;id&#34;: &#34;object_720p&#34;
&#34;
Failed to decode JSON object at line 246: &#34;	},
&#34;
Failed to decode JSON object at line 247: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 248: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 249: &#34;	},
&#34;
Failed to decode JSON object at line 250: &#34;	&#34;seconds&#34;: 646.0,
&#34;
Failed to decode JSON object at line 251: &#34;	&#34;subclass&#34;: &#34;began broadcasting in&#34;,
&#34;
Failed to decode JSON object at line 252: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 253: &#34;}{
&#34;
Failed to decode JSON object at line 254: &#34;	&#34;class&#34;: &#34;owningCompany&#34;,
&#34;
Failed to decode JSON object at line 255: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 256: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 257: &#34;		&#34;id&#34;: &#34;object_bbc&#34;
&#34;
Failed to decode JSON object at line 258: &#34;	},
&#34;
Failed to decode JSON object at line 259: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 260: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 261: &#34;	},
&#34;
Failed to decode JSON object at line 262: &#34;	&#34;seconds&#34;: 646.0,
&#34;
Failed to decode JSON object at line 263: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 264: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 265: &#34;}{
&#34;
Failed to decode JSON object at line 266: &#34;	&#34;class&#34;: &#34;headquarter&#34;,
&#34;
Failed to decode JSON object at line 267: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 268: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 269: &#34;		&#34;id&#34;: &#34;object_television_centre_london&#34;
&#34;
Failed to decode JSON object at line 270: &#34;	},
&#34;
Failed to decode JSON object at line 271: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 272: &#34;		&#34;id&#34;: &#34;object_bbc_world_news&#34;
&#34;
Failed to decode JSON object at line 273: &#34;	},
&#34;
Failed to decode JSON object at line 274: &#34;	&#34;seconds&#34;: 646.0,
&#34;
Failed to decode JSON object at line 275: &#34;	&#34;subclass&#34;: &#34;relocated&#34;,
&#34;
Failed to decode JSON object at line 276: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 277: &#34;}{
&#34;
Failed to decode JSON object at line 278: &#34;	&#34;class&#34;: &#34;occupation&#34;,
&#34;
Failed to decode JSON object at line 279: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 280: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 281: &#34;		&#34;id&#34;: &#34;object_fox_news&#34;
&#34;
Failed to decode JSON object at line 282: &#34;	},
&#34;
Failed to decode JSON object at line 283: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 284: &#34;		&#34;id&#34;: &#34;person_shepard_smith&#34;
&#34;
Failed to decode JSON object at line 285: &#34;	},
&#34;
Failed to decode JSON object at line 286: &#34;	&#34;seconds&#34;: 646.0,
&#34;
Failed to decode JSON object at line 287: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 288: &#34;	&#34;script&#34;: &#34;Any stories? No news, no little anecdotes to share with the folks?&#34;
&#34;
Failed to decode JSON object at line 289: &#34;}&#34;

```



#### friends/friends_s01_e03

```
Validation failed:
Failed to decode JSON object at line 1: &#34;{
&#34;
Failed to decode JSON object at line 2: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 3: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 4: &#34;		&#34;id&#34;: &#34;object_connecticut&#34;
&#34;
Failed to decode JSON object at line 5: &#34;	},
&#34;
Failed to decode JSON object at line 6: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 7: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 8: &#34;	&#34;class&#34;: &#34;capital&#34;,
&#34;
Failed to decode JSON object at line 9: &#34;	&#34;seconds&#34;: 66.0,
&#34;
Failed to decode JSON object at line 10: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 11: &#34;		&#34;id&#34;: &#34;object_hartford_connecticut&#34;
&#34;
Failed to decode JSON object at line 12: &#34;	}
&#34;
Failed to decode JSON object at line 13: &#34;}{
&#34;
Failed to decode JSON object at line 14: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 15: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 16: &#34;		&#34;id&#34;: &#34;object_harkness_tower&#34;
&#34;
Failed to decode JSON object at line 17: &#34;	},
&#34;
Failed to decode JSON object at line 18: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 19: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 20: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 21: &#34;	&#34;seconds&#34;: 66.0,
&#34;
Failed to decode JSON object at line 22: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 23: &#34;		&#34;id&#34;: &#34;object_conneticut&#34;
&#34;
Failed to decode JSON object at line 24: &#34;	}
&#34;
Failed to decode JSON object at line 25: &#34;}{
&#34;
Failed to decode JSON object at line 26: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 27: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 28: &#34;		&#34;id&#34;: &#34;object_downtown_new_haven&#34;
&#34;
Failed to decode JSON object at line 29: &#34;	},
&#34;
Failed to decode JSON object at line 30: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 31: &#34;	&#34;subclass&#34;: &#34;is located&#34;,
&#34;
Failed to decode JSON object at line 32: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 33: &#34;	&#34;seconds&#34;: 66.0,
&#34;
Failed to decode JSON object at line 34: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 35: &#34;		&#34;id&#34;: &#34;object_connecticut&#34;
&#34;
Failed to decode JSON object at line 36: &#34;	}
&#34;
Failed to decode JSON object at line 37: &#34;}{
&#34;
Failed to decode JSON object at line 38: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 39: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 40: &#34;		&#34;id&#34;: &#34;object_connecticut&#34;
&#34;
Failed to decode JSON object at line 41: &#34;	},
&#34;
Failed to decode JSON object at line 42: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 43: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 44: &#34;	&#34;class&#34;: &#34;capital&#34;,
&#34;
Failed to decode JSON object at line 45: &#34;	&#34;seconds&#34;: 67.0,
&#34;
Failed to decode JSON object at line 46: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 47: &#34;		&#34;id&#34;: &#34;object_hartford_connecticut&#34;
&#34;
Failed to decode JSON object at line 48: &#34;	}
&#34;
Failed to decode JSON object at line 49: &#34;}{
&#34;
Failed to decode JSON object at line 50: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 51: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 52: &#34;		&#34;id&#34;: &#34;object_harkness_tower&#34;
&#34;
Failed to decode JSON object at line 53: &#34;	},
&#34;
Failed to decode JSON object at line 54: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 55: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 56: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 57: &#34;	&#34;seconds&#34;: 67.0,
&#34;
Failed to decode JSON object at line 58: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 59: &#34;		&#34;id&#34;: &#34;object_conneticut&#34;
&#34;
Failed to decode JSON object at line 60: &#34;	}
&#34;
Failed to decode JSON object at line 61: &#34;}{
&#34;
Failed to decode JSON object at line 62: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 63: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 64: &#34;		&#34;id&#34;: &#34;object_downtown_new_haven&#34;
&#34;
Failed to decode JSON object at line 65: &#34;	},
&#34;
Failed to decode JSON object at line 66: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 67: &#34;	&#34;subclass&#34;: &#34;is located&#34;,
&#34;
Failed to decode JSON object at line 68: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 69: &#34;	&#34;seconds&#34;: 67.0,
&#34;
Failed to decode JSON object at line 70: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 71: &#34;		&#34;id&#34;: &#34;object_connecticut&#34;
&#34;
Failed to decode JSON object at line 72: &#34;	}
&#34;
Failed to decode JSON object at line 73: &#34;}{
&#34;
Failed to decode JSON object at line 74: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 75: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 76: &#34;		&#34;id&#34;: &#34;object_connecticut&#34;
&#34;
Failed to decode JSON object at line 77: &#34;	},
&#34;
Failed to decode JSON object at line 78: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 79: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 80: &#34;	&#34;class&#34;: &#34;capital&#34;,
&#34;
Failed to decode JSON object at line 81: &#34;	&#34;seconds&#34;: 68.0,
&#34;
Failed to decode JSON object at line 82: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 83: &#34;		&#34;id&#34;: &#34;object_hartford_connecticut&#34;
&#34;
Failed to decode JSON object at line 84: &#34;	}
&#34;
Failed to decode JSON object at line 85: &#34;}{
&#34;
Failed to decode JSON object at line 86: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 87: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 88: &#34;		&#34;id&#34;: &#34;object_harkness_tower&#34;
&#34;
Failed to decode JSON object at line 89: &#34;	},
&#34;
Failed to decode JSON object at line 90: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 91: &#34;	&#34;subclass&#34;: &#34;is&#34;,
&#34;
Failed to decode JSON object at line 92: &#34;	&#34;class&#34;: &#34;location&#34;,
&#34;
Failed to decode JSON object at line 93: &#34;	&#34;seconds&#34;: 68.0,
&#34;
Failed to decode JSON object at line 94: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 95: &#34;		&#34;id&#34;: &#34;object_conneticut&#34;
&#34;
Failed to decode JSON object at line 96: &#34;	}
&#34;
Failed to decode JSON object at line 97: &#34;}{
&#34;
Failed to decode JSON object at line 98: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 99: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 100: &#34;		&#34;id&#34;: &#34;object_downtown_new_haven&#34;
&#34;
Failed to decode JSON object at line 101: &#34;	},
&#34;
Failed to decode JSON object at line 102: &#34;	&#34;script&#34;: &#34;The Milner&#39;s farm in Connecticut?&#34;,
&#34;
Failed to decode JSON object at line 103: &#34;	&#34;subclass&#34;: &#34;is located&#34;,
&#34;
Failed to decode JSON object at line 104: &#34;	&#34;class&#34;: &#34;isPartOf&#34;,
&#34;
Failed to decode JSON object at line 105: &#34;	&#34;seconds&#34;: 68.0,
&#34;
Failed to decode JSON object at line 106: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 107: &#34;		&#34;id&#34;: &#34;object_connecticut&#34;
&#34;
Failed to decode JSON object at line 108: &#34;	}
&#34;
Failed to decode JSON object at line 109: &#34;}&#34;

```



#### friends/friends_s01_e04

```
Validation failed:
Failed to decode JSON object at line 1: &#34;{
&#34;
Failed to decode JSON object at line 2: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 3: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 4: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 5: &#34;	&#34;seconds&#34;: 869.0,
&#34;
Failed to decode JSON object at line 6: &#34;	&#34;script&#34;: &#34;Wait, you&#39;re not G. Stephanopoulos?&#34;,
&#34;
Failed to decode JSON object at line 7: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 8: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 9: &#34;	},
&#34;
Failed to decode JSON object at line 10: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 11: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 12: &#34;	}
&#34;
Failed to decode JSON object at line 13: &#34;}{
&#34;
Failed to decode JSON object at line 14: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 15: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 16: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 17: &#34;	&#34;seconds&#34;: 870.0,
&#34;
Failed to decode JSON object at line 18: &#34;	&#34;script&#34;: &#34;Wait, you&#39;re not G. Stephanopoulos?&#34;,
&#34;
Failed to decode JSON object at line 19: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 20: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 21: &#34;	},
&#34;
Failed to decode JSON object at line 22: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 23: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 24: &#34;	}
&#34;
Failed to decode JSON object at line 25: &#34;}{
&#34;
Failed to decode JSON object at line 26: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 27: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 28: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 29: &#34;	&#34;seconds&#34;: 871.0,
&#34;
Failed to decode JSON object at line 30: &#34;	&#34;script&#34;: &#34;Wait, you&#39;re not G. Stephanopoulos?&#34;,
&#34;
Failed to decode JSON object at line 31: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 32: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 33: &#34;	},
&#34;
Failed to decode JSON object at line 34: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 35: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 36: &#34;	}
&#34;
Failed to decode JSON object at line 37: &#34;}{
&#34;
Failed to decode JSON object at line 38: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 39: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 40: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 41: &#34;	&#34;seconds&#34;: 875.0,
&#34;
Failed to decode JSON object at line 42: &#34;	&#34;script&#34;: &#34;Did you say G. Stephanopoulos?&#34;,
&#34;
Failed to decode JSON object at line 43: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 44: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 45: &#34;	},
&#34;
Failed to decode JSON object at line 46: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 47: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 48: &#34;	}
&#34;
Failed to decode JSON object at line 49: &#34;}{
&#34;
Failed to decode JSON object at line 50: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 51: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 52: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 53: &#34;	&#34;seconds&#34;: 876.0,
&#34;
Failed to decode JSON object at line 54: &#34;	&#34;script&#34;: &#34;Did you say G. Stephanopoulos?&#34;,
&#34;
Failed to decode JSON object at line 55: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 56: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 57: &#34;	},
&#34;
Failed to decode JSON object at line 58: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 59: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 60: &#34;	}
&#34;
Failed to decode JSON object at line 61: &#34;}{
&#34;
Failed to decode JSON object at line 62: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 63: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 64: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 65: &#34;	&#34;seconds&#34;: 877.0,
&#34;
Failed to decode JSON object at line 66: &#34;	&#34;script&#34;: &#34;Did you say G. Stephanopoulos?&#34;,
&#34;
Failed to decode JSON object at line 67: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 68: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 69: &#34;	},
&#34;
Failed to decode JSON object at line 70: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 71: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 72: &#34;	}
&#34;
Failed to decode JSON object at line 73: &#34;}{
&#34;
Failed to decode JSON object at line 74: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 75: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 76: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 77: &#34;	&#34;seconds&#34;: 878.0,
&#34;
Failed to decode JSON object at line 78: &#34;	&#34;script&#34;: &#34;Did you say G. Stephanopoulos?&#34;,
&#34;
Failed to decode JSON object at line 79: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 80: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 81: &#34;	},
&#34;
Failed to decode JSON object at line 82: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 83: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 84: &#34;	}
&#34;
Failed to decode JSON object at line 85: &#34;}{
&#34;
Failed to decode JSON object at line 86: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 87: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 88: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 89: &#34;	&#34;seconds&#34;: 904.0,
&#34;
Failed to decode JSON object at line 90: &#34;	&#34;script&#34;: &#34;We&#39;ve got George Stephanopoulos&#39; pizza.&#34;,
&#34;
Failed to decode JSON object at line 91: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 92: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 93: &#34;	},
&#34;
Failed to decode JSON object at line 94: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 95: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 96: &#34;	}
&#34;
Failed to decode JSON object at line 97: &#34;}{
&#34;
Failed to decode JSON object at line 98: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 99: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 100: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 101: &#34;	&#34;seconds&#34;: 905.0,
&#34;
Failed to decode JSON object at line 102: &#34;	&#34;script&#34;: &#34;We&#39;ve got George Stephanopoulos&#39; pizza.&#34;,
&#34;
Failed to decode JSON object at line 103: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 104: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 105: &#34;	},
&#34;
Failed to decode JSON object at line 106: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 107: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 108: &#34;	}
&#34;
Failed to decode JSON object at line 109: &#34;}{
&#34;
Failed to decode JSON object at line 110: &#34;	&#34;subclass&#34;: &#34;was an advisor&#34;,
&#34;
Failed to decode JSON object at line 111: &#34;	&#34;class&#34;: &#34;party&#34;,
&#34;
Failed to decode JSON object at line 112: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 113: &#34;	&#34;seconds&#34;: 906.0,
&#34;
Failed to decode JSON object at line 114: &#34;	&#34;script&#34;: &#34;We&#39;ve got George Stephanopoulos&#39; pizza.&#34;,
&#34;
Failed to decode JSON object at line 115: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 116: &#34;		&#34;id&#34;: &#34;person_george_stephanopoulos&#34;
&#34;
Failed to decode JSON object at line 117: &#34;	},
&#34;
Failed to decode JSON object at line 118: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 119: &#34;		&#34;id&#34;: &#34;object_democratic_party_united_states&#34;
&#34;
Failed to decode JSON object at line 120: &#34;	}
&#34;
Failed to decode JSON object at line 121: &#34;}{
&#34;
Failed to decode JSON object at line 122: &#34;	&#34;subclass&#34;: &#34;developed in&#34;,
&#34;
Failed to decode JSON object at line 123: &#34;	&#34;class&#34;: &#34;region&#34;,
&#34;
Failed to decode JSON object at line 124: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 125: &#34;	&#34;seconds&#34;: 922.0,
&#34;
Failed to decode JSON object at line 126: &#34;	&#34;script&#34;: &#34;I see pizza.&#34;,
&#34;
Failed to decode JSON object at line 127: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 128: &#34;		&#34;id&#34;: &#34;object_chicago_style_pizza&#34;
&#34;
Failed to decode JSON object at line 129: &#34;	},
&#34;
Failed to decode JSON object at line 130: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 131: &#34;		&#34;id&#34;: &#34;object_chicago&#34;
&#34;
Failed to decode JSON object at line 132: &#34;	}
&#34;
Failed to decode JSON object at line 133: &#34;}{
&#34;
Failed to decode JSON object at line 134: &#34;	&#34;subclass&#34;: &#34;developed in&#34;,
&#34;
Failed to decode JSON object at line 135: &#34;	&#34;class&#34;: &#34;region&#34;,
&#34;
Failed to decode JSON object at line 136: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 137: &#34;	&#34;seconds&#34;: 923.0,
&#34;
Failed to decode JSON object at line 138: &#34;	&#34;script&#34;: &#34;I see pizza.&#34;,
&#34;
Failed to decode JSON object at line 139: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 140: &#34;		&#34;id&#34;: &#34;object_detroit_style_pizza&#34;
&#34;
Failed to decode JSON object at line 141: &#34;	},
&#34;
Failed to decode JSON object at line 142: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 143: &#34;		&#34;id&#34;: &#34;object_michigan&#34;
&#34;
Failed to decode JSON object at line 144: &#34;	}
&#34;
Failed to decode JSON object at line 145: &#34;}{
&#34;
Failed to decode JSON object at line 146: &#34;	&#34;subclass&#34;: &#34;developed in&#34;,
&#34;
Failed to decode JSON object at line 147: &#34;	&#34;class&#34;: &#34;region&#34;,
&#34;
Failed to decode JSON object at line 148: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 149: &#34;	&#34;seconds&#34;: 953.0,
&#34;
Failed to decode JSON object at line 150: &#34;	&#34;script&#34;: &#34;She&#39;s going for the pizza.&#34;,
&#34;
Failed to decode JSON object at line 151: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 152: &#34;		&#34;id&#34;: &#34;object_chicago_style_pizza&#34;
&#34;
Failed to decode JSON object at line 153: &#34;	},
&#34;
Failed to decode JSON object at line 154: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 155: &#34;		&#34;id&#34;: &#34;object_chicago&#34;
&#34;
Failed to decode JSON object at line 156: &#34;	}
&#34;
Failed to decode JSON object at line 157: &#34;}{
&#34;
Failed to decode JSON object at line 158: &#34;	&#34;subclass&#34;: &#34;developed in&#34;,
&#34;
Failed to decode JSON object at line 159: &#34;	&#34;class&#34;: &#34;region&#34;,
&#34;
Failed to decode JSON object at line 160: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 161: &#34;	&#34;seconds&#34;: 954.0,
&#34;
Failed to decode JSON object at line 162: &#34;	&#34;script&#34;: &#34;She&#39;s going for the pizza.&#34;,
&#34;
Failed to decode JSON object at line 163: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 164: &#34;		&#34;id&#34;: &#34;object_detroit_style_pizza&#34;
&#34;
Failed to decode JSON object at line 165: &#34;	},
&#34;
Failed to decode JSON object at line 166: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 167: &#34;		&#34;id&#34;: &#34;object_michigan&#34;
&#34;
Failed to decode JSON object at line 168: &#34;	}
&#34;
Failed to decode JSON object at line 169: &#34;}&#34;

```



#### friends/friends_s01_e05

```
Validation failed:
Failed to decode JSON object at line 1: &#34;{
&#34;
Failed to decode JSON object at line 2: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 3: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 4: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 5: &#34;	},
&#34;
Failed to decode JSON object at line 6: &#34;	&#34;seconds&#34;: 555.0,
&#34;
Failed to decode JSON object at line 7: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 8: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 9: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 10: &#34;	},
&#34;
Failed to decode JSON object at line 11: &#34;	&#34;script&#34;: &#34;Can I get an espresso and a latte over here, please?&#34;,
&#34;
Failed to decode JSON object at line 12: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 13: &#34;}{
&#34;
Failed to decode JSON object at line 14: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 15: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 16: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 17: &#34;	},
&#34;
Failed to decode JSON object at line 18: &#34;	&#34;seconds&#34;: 556.0,
&#34;
Failed to decode JSON object at line 19: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 20: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 21: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 22: &#34;	},
&#34;
Failed to decode JSON object at line 23: &#34;	&#34;script&#34;: &#34;Can I get an espresso and a latte over here, please?&#34;,
&#34;
Failed to decode JSON object at line 24: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 25: &#34;}{
&#34;
Failed to decode JSON object at line 26: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 27: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 28: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 29: &#34;	},
&#34;
Failed to decode JSON object at line 30: &#34;	&#34;seconds&#34;: 557.0,
&#34;
Failed to decode JSON object at line 31: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 32: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 33: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 34: &#34;	},
&#34;
Failed to decode JSON object at line 35: &#34;	&#34;script&#34;: &#34;Can I get an espresso and a latte over here, please?&#34;,
&#34;
Failed to decode JSON object at line 36: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 37: &#34;}{
&#34;
Failed to decode JSON object at line 38: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 39: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 40: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 41: &#34;	},
&#34;
Failed to decode JSON object at line 42: &#34;	&#34;seconds&#34;: 558.0,
&#34;
Failed to decode JSON object at line 43: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 44: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 45: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 46: &#34;	},
&#34;
Failed to decode JSON object at line 47: &#34;	&#34;script&#34;: &#34;Can I get an espresso and a latte over here, please?&#34;,
&#34;
Failed to decode JSON object at line 48: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 49: &#34;}{
&#34;
Failed to decode JSON object at line 50: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 51: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 52: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 53: &#34;	},
&#34;
Failed to decode JSON object at line 54: &#34;	&#34;seconds&#34;: 604.0,
&#34;
Failed to decode JSON object at line 55: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 56: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 57: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 58: &#34;	},
&#34;
Failed to decode JSON object at line 59: &#34;	&#34;script&#34;: &#34;I&#39;m gonna get another espresso. More latte?&#34;,
&#34;
Failed to decode JSON object at line 60: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 61: &#34;}{
&#34;
Failed to decode JSON object at line 62: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 63: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 64: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 65: &#34;	},
&#34;
Failed to decode JSON object at line 66: &#34;	&#34;seconds&#34;: 605.0,
&#34;
Failed to decode JSON object at line 67: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 68: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 69: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 70: &#34;	},
&#34;
Failed to decode JSON object at line 71: &#34;	&#34;script&#34;: &#34;I&#39;m gonna get another espresso. More latte?&#34;,
&#34;
Failed to decode JSON object at line 72: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 73: &#34;}{
&#34;
Failed to decode JSON object at line 74: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 75: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 76: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 77: &#34;	},
&#34;
Failed to decode JSON object at line 78: &#34;	&#34;seconds&#34;: 606.0,
&#34;
Failed to decode JSON object at line 79: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 80: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 81: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 82: &#34;	},
&#34;
Failed to decode JSON object at line 83: &#34;	&#34;script&#34;: &#34;I&#39;m gonna get another espresso. More latte?&#34;,
&#34;
Failed to decode JSON object at line 84: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 85: &#34;}{
&#34;
Failed to decode JSON object at line 86: &#34;	&#34;class&#34;: &#34;country&#34;,
&#34;
Failed to decode JSON object at line 87: &#34;	&#34;target&#34;: {
&#34;
Failed to decode JSON object at line 88: &#34;		&#34;id&#34;: &#34;object_cuba&#34;
&#34;
Failed to decode JSON object at line 89: &#34;	},
&#34;
Failed to decode JSON object at line 90: &#34;	&#34;seconds&#34;: 607.0,
&#34;
Failed to decode JSON object at line 91: &#34;	&#34;type&#34;: &#34;relation&#34;,
&#34;
Failed to decode JSON object at line 92: &#34;	&#34;source&#34;: {
&#34;
Failed to decode JSON object at line 93: &#34;		&#34;id&#34;: &#34;object_cuban_espresso&#34;
&#34;
Failed to decode JSON object at line 94: &#34;	},
&#34;
Failed to decode JSON object at line 95: &#34;	&#34;script&#34;: &#34;I&#39;m gonna get another espresso. More latte?&#34;,
&#34;
Failed to decode JSON object at line 96: &#34;	&#34;subclass&#34;: &#34;is a type of&#34;
&#34;
Failed to decode JSON object at line 97: &#34;}&#34;

```





