# Data Validation Report

This is an automatically generated validation report from *[knowledge-graph-input-repo-collector](https://github.com/uilab-vtt/knowledge-graph-input-repo-collector)* application. 

Data was collected from the repositories and validated on the server at around Thu Dec 06 2018 17:47:47 GMT+0900 (KST).

## Target Files

Following files were collected and validated from the each repository.


- friends/friends_s01_e01

- friends/friends_s01_e02

- friends/friends_s01_e03

- friends/friends_s01_e04

- friends/friends_s01_e05


## Validation Results

Here are the valiation results for the source repositories. 


### base-knowledge (KAIST 최기선, (대본) 인물 멘션 참조 해결 및 인물 지식 추출)

Data was collected from the repository at [https://github.com/machinereading/vtt-swrc-2018-data-result.git](https://github.com/machinereading/vtt-swrc-2018-data-result.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
There is no file in the repository.
```



#### friends/friends_s01_e02

```
There is no file in the repository.
```



#### friends/friends_s01_e03

```
There is no file in the repository.
```



#### friends/friends_s01_e04

```
There is no file in the repository.
```



#### friends/friends_s01_e05

```
There is no file in the repository.
```






### behavior (KAIST 유창동, 행동인식)

Data was collected from the repository at [https://github.com/hobincar/vtt-action-recognition-data.git](https://github.com/hobincar/vtt-action-recognition-data.git) for this data source.



No error was found on the data files from this repository.




### location (KAIST 김준모, 장소인식)

Data was collected from the repository at [https://github.com/siit-video-turing-test/2nd-year.git](https://github.com/siit-video-turing-test/2nd-year.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
There is no file in the repository.
```



#### friends/friends_s01_e02

```
There is no file in the repository.
```



#### friends/friends_s01_e03

```
There is no file in the repository.
```



#### friends/friends_s01_e04

```
There is no file in the repository.
```



#### friends/friends_s01_e05

```
There is no file in the repository.
```






### verb-semantics (서울대 정민화, 동사의미정보)

Data was collected from the repository at [https://github.com/ish97/VTT.git](https://github.com/ish97/VTT.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
There is no file in the repository.
```



#### friends/friends_s01_e02

```
There is no file in the repository.
```



#### friends/friends_s01_e03

```
There is no file in the repository.
```



#### friends/friends_s01_e04

```
There is no file in the repository.
```



#### friends/friends_s01_e05

```
There is no file in the repository.
```






### sound (KAIST 유창동, 소리인식)

Data was collected from the repository at [https://github.com/cao-nv/vtt-sound-event-data.git](https://github.com/cao-nv/vtt-sound-event-data.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
There is no file in the repository.
```



#### friends/friends_s01_e02

```
There is no file in the repository.
```



#### friends/friends_s01_e03

```
There is no file in the repository.
```



#### friends/friends_s01_e04

```
There is no file in the repository.
```



#### friends/friends_s01_e05

```
There is no file in the repository.
```






### object (KAIST 권인소, 객체인식)

Data was collected from the repository at [https://github.com/Dong-JinKim/DRCaptioning.git](https://github.com/Dong-JinKim/DRCaptioning.git) for this data source.



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
There is no file in the repository.
```



#### friends/friends_s01_e02

```
There is no file in the repository.
```



#### friends/friends_s01_e03

```
There is no file in the repository.
```



#### friends/friends_s01_e04

```
There is no file in the repository.
```



#### friends/friends_s01_e05

```
There is no file in the repository.
```





