# Data Validation Report

This is an automatically generated validation report from *[knowledge-graph-input-repo-collector](https://github.com/uilab-vtt/knowledge-graph-input-repo-collector)* application. 

Data was collected from the repositories and validated on the server at around Thu Dec 06 2018 16:42:52 GMT+0900 (KST).

## Target Files

Following files were collected and validated from the each repository.


- friends/friends_s01_e01

- friends/friends_s01_e02

- friends/friends_s01_e03

- friends/friends_s01_e04

- friends/friends_s01_e05


## Validation Results

Here are the valiation results for the source repositories. 


### base-knowledge (KAIST 최기선, (대본) 인물 멘션 참조 해결 및 인물 지식 추출)



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
Data file not found.
```



#### friends/friends_s01_e02

```
Data file not found.
```



#### friends/friends_s01_e03

```
Data file not found.
```



#### friends/friends_s01_e04

```
Data file not found.
```



#### friends/friends_s01_e05

```
Data file not found.
```






### behavior (KAIST 유창동, 행동인식)



No error was found on the data files from this repository.




### location (KAIST 김준모, 장소인식)



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
Data file not found.
```



#### friends/friends_s01_e02

```
Data file not found.
```



#### friends/friends_s01_e03

```
Data file not found.
```



#### friends/friends_s01_e04

```
Data file not found.
```



#### friends/friends_s01_e05

```
Data file not found.
```






### verb-semantics (서울대 정민화, 동사의미정보)



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
Data file not found.
```



#### friends/friends_s01_e02

```
Data file not found.
```



#### friends/friends_s01_e03

```
Data file not found.
```



#### friends/friends_s01_e04

```
Data file not found.
```



#### friends/friends_s01_e05

```
Data file not found.
```






### base-knowledge (KAIST 유창동, 소리인식)



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
Data file not found.
```



#### friends/friends_s01_e02

```
Data file not found.
```



#### friends/friends_s01_e03

```
Data file not found.
```



#### friends/friends_s01_e04

```
Data file not found.
```



#### friends/friends_s01_e05

```
Data file not found.
```






### object (KAIST 권인소, 객체인식)



Following errors are found from the data files in the repository.



#### friends/friends_s01_e01

```
Data file not found.
```



#### friends/friends_s01_e02

```
Data file not found.
```



#### friends/friends_s01_e03

```
Data file not found.
```



#### friends/friends_s01_e04

```
Data file not found.
```



#### friends/friends_s01_e05

```
Data file not found.
```





